body{
     background-color: #b2bec3;
     font-family: 'Roboto', sans-serif;
}
 .Main{
     width: 700px;
     margin: auto auto;
     text-align: center;
}
 .Nav{
     width: 100%;
     background-color: #636e72;
}
 .Nav input{
     text-align:center;
}
 header img{
     margin: auto auto;
     width: 700px;
     height: 200px;
}
 .Boton{
     background-color: #636e72;
     border: none;
     color: white;
     padding: 15px 30px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin-top: 5px;
}
 .Enviar:hover{
     background-color: green;
}
 .Cancelar:hover{
     background-color: red;
}
